/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass/reset";
@import "compass/layout/sticky-footer";

@import "vars";
@import "alchemy/composites/content_elements";
@import "fonts";
@import "text";

@include sticky-footer(50px, "#container", "#container_footer", "#footer");

*{ @include box-sizing(border-box); }

body,html{}

#wrapper{
  height: 100%;
  width: 960px;
  margin: 0 auto;

  #container{

    #header{
      padding: 15px;
      background-color: #cdcdcd;
      .controls{ float: right; }
    }

    #sidebar{
      float: right;
      width: 250px;
      background-color: #eeeeee;
      padding: 15px;
    }

    #content{
      margin-right: 250px;
      background-color: #dddddd;
      padding: 15px;
      .three-column{
        #left{
        }
        #middle{
        }
        #right{
        }
      }
    }
  }

  #footer{
    background-color: #cdcdcd;
    font-size: 10px;
  }
}
