/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass/reset";
@import "compass/layout/sticky-footer";

@import "vars";
@import "alchemy/composites/content_elements";
@import "colors";
@import "fonts";
@import "text";

@include sticky-footer(50px, "#container", "#footer_spacer", "#footer");

*{ @include box-sizing(border-box); }

body,html{}

#wrapper{
  height: 100%;
  width: 960px;
  margin: 0 auto;

  #container{

    #header{
      padding: 15px;
      background-color: #cdcdcd;
      .controls{ float: right; }
    }

    #sidebar{
      float: right;
      width: 250px;
      background-color: #eeeeee;
      padding: 15px;
    }

    #content{
      margin-right: 250px;
      background-color: #dddddd;
      @include clearfix;
      section{
        @include clearfix;
        padding: 15px;
      }

      // BOXES
      .box{
        padding: 10px;
        float: left;
        &.three{ width: 33%; }
        &.two{ width: 50%; }
      }

      // PROGRESS TRACKER
      ol.progress{
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* remove default numbering */
        *list-style: decimal; /* keep using default numbering for ie6/7 */
        display: table;
        width: 100%;
        table-layout: fixed;
        padding-top: 34px;

        li{
          position: relative;
          text-align: center;
          display: table-cell;

          // dashed line between points
          &:not(:last-child):after{
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            top: -16px;
            left: 50%;
            border-top: 1px dotted $g4;
          }

          a{
            color: $g4;
            &.current{ color: $g6; }
            position: relative;
            display: block;
            &:hover, &.current{
              &:before{ background: $success_color; }
            }
            // numbered circles
            &:before{
              content: counter(li);
              counter-increment: li;
              font-family: $headlinefont;
              font-weight: 600;
              font-size: 14px;
              text-align: center;
              line-height: 2em;
              position: absolute;
              top: -30px;
              left: 50%;
              margin-left: -1em;
              z-index: 1;
              color: white;
              background: $g4;
              height: 2em;
              width: 2em;
              @include border-radius(20px);
            }
          }
        }
      }

      // LAUNCHABLES LIST
      li.launchable{
        display: block;
        list-style-type: none;
        @include box-shadow(#aaa -1px 1px 2px);
        @include border-radius(3px, 3px);
        background: $g1;
        padding: 8px;
        margin-bottom: 10px;
        p.description{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        ul.controls{
          float: right;
          .button{ margin: 0 }
          li{
            @include inline-block;
            margin: 3px 0px 3px 5px;
            &.cost{ font-weight: bold; }
          }
        }
      }
    }
  }

  #footer{
    background-color: #cdcdcd;
    font-size: 10px;
  }
}
