- if current_provider
  %h2= _("Log in")
  = form_tag sessions_path, :id => "provider_login_form", :class => 'form labels_top messages_bottom' do
    = render_provider_partial "login_credentials"
    .control_group.buttons
      = submit_tag _("Login"), :class => 'button primary'
