*.swp
db/*.sqlite3
log/*.log
config/database.yml
config/providers.yml
tmp/
vendor/bundle
.idea/

# Ignore bundler config
/.bundle
/coverage
# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
