%ul.controls
  %li.run{ :'ng-show' => "(providerApp.available_actions | filter:'START').length" }
    %a.button-graphical{ :'ng-click' => 'startProviderApp(providerApp.id)', :title => _('Start') }
  %li.pause{ :'ng-show' => "(providerApp.available_actions | filter:'PAUSE').length" }
    %a.button-graphical{ :'ng-click' => 'pauseProviderApp(providerApp.id)', :title => _('Pause') }
  %li.stop{ :'ng-show' => "(providerApp.available_actions | filter:'STOP').length" }
    %a.button-graphical{ :'ng-click' => 'stopProviderApp(providerApp.id)', :title => _('Stop') }
