%li.delete{ }
  %button.button-graphical{ :'ng-disabled' => "!(providerApp.available_actions | filter:'TERMINATE').length",
                            :'ng-click' => 'destroyProviderApp(providerApp.id)', :title => _('Delete') }
