%li.delete{ :'wm-provider-app-confirm' => _('Are you sure you want to delete this application?'),
            :'provider-app' => "providerApp",
            :'toggle-property' => "providerApp.toggles.show_delete",
            :action => "TERMINATE",
            :'confirm-action' => 'destroyProviderApp(providerApp.id)',
            :'confirm-title' => _('Delete'),
            :cancel => _('Cancel') }
