%li.delete{ :'wm-provider-app-confirm' => _('Are you sure you want to terminate this application?'),
            :'provider-app' => "providerApp",
            :action => 'TERMINATE',
            :'confirm-action' => 'destroyProviderApp(providerApp.id)',
            :'confirm-title' => _('Delete'),
            :cancel => _('Cancel') }
