.list_controls{ :'ng-show' => "!!providerApps.length"}
  %form.form
    %input#search{ :'ng-model' => 'search.name', :type => 'search', :placeholder => _('Search in applications...') }

    #sort
      %label= _("Sort by:")
      .menu
        %span.ascending.button{ :'ng-bind' => 'predicate' }
        %ul
          %li
            %a.name{ :'ng-click' => "predicate = 'name'; reverse=false"}= _("Name")
            %a.ascending{ :'ng-click' => "predicate = 'name'; reverse=false"}
            %a.descending{ :'ng-click' => "predicate = 'name'; reverse=true"}
          %li
            %a.name{ :'ng-click' => "predicate = 'state'; reverse=false"}= _("State")
            %a.ascending{ :'ng-click' => "predicate = 'state'; reverse=false"}
            %a.descending{ :'ng-click' => "predicate = 'state'; reverse=true"}

    %a#refresh{ :'ng-click' => 'refreshProviderApps()' }= _('Refresh List')
