%li.provider_application{ :'ng-repeat' => "providerApp in providerApps|filter:search|orderBy:predicate:reverse",
                                           :class => "{{providerApp.wm_state|lowercase}}" }

  .container
    %h3.toggle_trigger{ :'ng-click' => "showProperties=!showProperties" }
      .wrapper
        %span{ :'ng-bind' => 'providerApp.name' }
    = render_provider_partial(:provider_applications, :controls)

  %ul.properties.js_hide{ :'wm-toggle' => "showProperties" }
    = render_provider_partial(:provider_applications, :properties)
    = render :partial => 'provider_applications/delete'

