- content_for :sidebar do
  %section
    = link_to "+ Launch New Application", launchables_path, :class => 'button primary large'

%section
  %h2 My Applications

  - if @provider_applications.blank?
    = render :partial => "getting_started"
  - else
    %ul.provider_applications
      - @provider_applications.each do |app|
        %li.provider_application
          = render_provider_partial("provider_application", { :app => app })

= render :partial => 'features'
