- title @provider_application.name

%section
  .breadcrumbs= link_to _("< My Applications"), provider_applications_path
  %h2= @provider_application.name

  %dl.properties
    %dt= _("Launchable")
    %dd= @provider_application.launchable.name
