.controls
  = link_to "Select",
            new_provider_application_path(:launchable_id => launchable.id),
            :class => 'button'
%h5= link_to launchable.name, "#"
%p.description= launchable.description

