@mixin container_border {
  border: 1px solid rgba($g4, 0.4);
}

@mixin header_style {
  border-bottom: 1px solid $header_line_color;
  @include linear_gradient($tertiary_color, lighten($tertiary_color, 9%), $tertiary_color, 70%);
  @include border-radius($border_radius $border_radius 0 0);
  @include text-shadow(1px 1px 1px rgba($white_color, 0.6));
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0;
    @include linear_gradient($white_color, rgb(240, 240, 240), $white_color);
  }
}

@mixin stripes_background($bg_color, $stripe_color) {
  @include background-size(30px 30px);
  background-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(.25, $stripe_color), color-stop(.25, $bg_color),
            color-stop(.5, $bg_color), color-stop(.5, $stripe_color),
            color-stop(.75, $stripe_color), color-stop(.75, $bg_color),
            to($bg_color));
  background-image: -webkit-linear-gradient(135deg, $stripe_color 25%, $bg_color 25%,
            $bg_color 50%, $stripe_color 50%, $stripe_color 75%,
            $bg_color 75%, $bg_color);
  background-image: -moz-linear-gradient(135deg, $stripe_color 25%, $bg_color 25%,
            $bg_color 50%, $stripe_color 50%, $stripe_color 75%,
            $bg_color 75%, $bg_color);
  background-image: -ms-linear-gradient(135deg, $stripe_color 25%, $bg_color 25%,
            $bg_color 50%, $stripe_color 50%, $stripe_color 75%,
            $bg_color 75%, $bg_color);
  background-image: -o-linear-gradient(135deg, $stripe_color 25%, $bg_color 25%,
            $bg_color 50%, $stripe_color 50%, $stripe_color 75%,
            $bg_color 75%, $bg_color);
  background-image: linear-gradient(135deg, $stripe_color 25%, $bg_color 25%,
            $bg_color 50%, $stripe_color 50%, $stripe_color 75%,
            $bg_color 75%, $bg_color);
}
