.container
  %ul.controls
    %li.stop
      %a.button{ :'ng-click' => 'destroyProviderApp(providerApp.id)', :title => _('Terminate') }= _('Terminate')

  %h3{ :'ng-bind' => 'providerApp.name' }

  = link_to _("see more"), "#", :class => "more js_toggle_trigger", "data-title-closed" => _("see more"), "data-title-open" => _("see less")

%ul.properties.js_hidden.js_toggleable
  %li
    %span.label= _("Status")
    %span{ :'ng-bind' => "providerApp.state" }
  %li
    %span.label= _("Launchable")
    %span{ :'ng-bind' => 'providerApp.launchable.name' }
