%ul.controls
  /%li.cost= number_to_currency(launchable.cost, :format => "%u%n / HR")
  %li= link_to _("Select"),
            new_provider_application_path(:launchable_id => launchable.id),
            :class => 'button'
%h3= launchable.name
%p.description.truncated= launchable.description

