%p= _("You have not configured any providers yet.")

%p= _("To configure providers, you will need to create a <code>config/providers.yml</code> file.").html_safe

%p= _("The example of <code>config/providers.yml</code> is available in config/providers.yml.default").html_safe
