#quota
  .global_indicator

  %table.details
    %tr#instances
      %td Instances
      %td
        .indicator
      %td 10 / 20 instances

    %tr#cpu
      %td CPU
      %td
        .indicator.warning
      %td 3 / 15 units
