.container
  %h3.toggle_trigger{ :'ng-click' => "showProperties=!showProperties" }
    .wrapper
      %span{ :'ng-bind' => 'providerApp.name' }
  = render :partial => 'provider_applications/controls'

%ul.properties.js_hide{ :'wm-toggle' => "showProperties" }
  %li
    %span.label= _("Status")
    %span{ :'ng-bind' => "providerApp.state" }
  = render :partial => 'provider_applications/delete'
