%p You have not configured any providers yet.

%p
  To configure providers, you will need to create a
  %code
    config/providers.yml
  file.

%p
  The example of
  %code
    config/providers.yml
  is available in config/providers.yml.default
