= select_tag("provider_id",
             options_from_collection_for_select(Provider.all, 'id', 'name', current_provider_id),
             prompt: "Select Provider", onchange: "select_provider(this.value)")
