= select_tag("provider_key",
             options_from_collection_for_select(Provider.all, 'key', 'name', current_provider_key),
             prompt: "Select Provider", onchange: "select_provider(this.value)")
