- @provider_applications.each do |app|
  .box{:style => "margin-bottom: 10px"}
    .vm
      .left
        = render_provider_partial("provider_application", {:app => app})
        .stop= button_to 'Stop', provider_application_path(app.id), :method => :delete, :confirm => 'Are you sure you want to stop this application?'
