#heading My Applications

- if current_provider_key
  - if @provider_applications.blank?
    = render :partial => "getting_started"
  - else
    = render :partial => "provider_applications_list"
- else
  = render :partial => "choose_provider"
