- content_for :sidebar do
  = link_to "+ Launch New Application", launchables_path, :class => 'button primary large'

%section
  %h2 My Applications

  - if @provider_applications.blank?
    = render :partial => "getting_started"
  - else
    = render :partial => "provider_applications_list"
