#heading Configure and Deploy

#launch-steps{style: "text-align:center; overflow: hidden;"}
  .step#step1{style: "width:32%;float:left"}
    = link_to "1. Select an Application Blueprint", launchables_path
  .step#step2{style: "width:32%;float:left"}
    2. Configure and Deploy
  .step#step3{style: "width:33%;float:left"}
    3. Use You Application

Here should be the ProviderApplication configuration form as described in Wireframes page 8.
