= hidden_field_tag 'launchable_id', provider_application.launchable.id
.control_group
  .label= form.label :name, :for => 'provider_application_name'
  .input= form.text_field :name, :name => 'provider_application[name]', :id => 'provider_application_name'
