#heading My Applications

- if @launched_apps.empty?
  .box
    %p It looks like you haven't launched any applications yet.
    %p To get started, launch a new application
- else

%p What can you do with Winged Monkey?

.three-column
  #left
    %p
      %a{:href => "/launch/list"} Launch
    %p.smaller
      You can select from a variety of applications for your selected back end provider.
      Each application may have options that allow you to customize the running systems.
      Click Launch to launch a new application and get started.
  #middle
    %p
      %a{:href => "#"} Monitor
    %p.smaller
      After you have launched some applications, you can monitor their status.
      The way the status is reported by each applciation may vary depending on which back end provider is hosting your applciation.
  #right
    %p
      %a{:href => "#"} Manage
    %p.smaller
      Running applications can be stopped, restarted, paused, resumed, and deleted.
