#heading My Applications

- if current_provider
  - if @launched_apps.empty?
    = render :partial => "getting_started"
  - else
    = render :partial => "app_list"
- else
  = render :partial => "choose_provider"
