%p You have not configured any providers yet.

%p
  To configure providers, you will need to create a
  %code
    config/settings.yml
  file.

%p
  The
  %code
    config/settings.yml
  file should look something like:
  %blockquote
    %pre
      :preserve
        :providers:
          :mock: &mock
            :name: Mock Provider
            :type: mock
