// WRAPPING CONTAINER
.list_controls {
  margin: 10px 0 5px 0;
}

// SEARCH
#search {
  width: 14em;
  @include transition(all 0.1s linear);

  &:focus {
    width: 21em;
    @include transition(all 0.17s linear);
  }
}

// GENERAL SELECT FROM LIST
.select_menu {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;

  // trigger`
  .trigger {
    position: relative;
    margin: 0;
    @include unselectable;
  }

  // hidden menu
  ul {
    display: none;
    border-collapse: collapse;
    position: absolute;
    right: 0;
    list-style: none;
    z-index:1;
    padding:0;
    margin:0;
    background-color: lighten($tone, 36%);
    @include border-radius($border_radius 0 $border_radius $border_radius);
    @include box-shadow(0 1px 2px rgba($black_color, 0.15),
                        0 0 3em rgba($black_color, 0.2),
                        0 0 0 1px rgba($white_color, 0.05) inset);
    overflow: hidden;
    max-height: 13em;
    overflow-y: auto;

    // line
    li {
      display: table-row;
      margin:0;
      padding:0;

      // box in the line (buttons)
      a {
        display: table-cell;
        text-decoration: none;
        color: darken($tone, 20%);
        padding: 7px 15px;
        position: relative;
        border: 1px solid rgba($black_color, 0.05);
        white-space: nowrap;

        &.active { // currently selected
          background: rgba($black_color, 0.05);
        }
      }

      a:hover {
        @include linear_gradient($primary_color, lighten($primary_color, 9%), $primary_color, 70%);
        color: $white_color;
        @include text-shadow(1px 1px 1px rgba($black_color, 0.4));
      }

      &:last-child {
        @include border-radius(0 0 $border_radius $border_radius);
      }
    }
  }

  // displayed menu
  .menu.active {
    .trigger {
      color: $primary_color;
      @include background(linear-gradient(top, lighten($tone, 30%) 0%,
                                               lighten($tone, 35%) 20%,
                                               lighten($tone, 35%) 100%));
      @include border-radius($border_radius $border_radius 0 0);
      @include box-shadow(0 0 1px 0 rgba($primary_color, 0.4));
      border-color: $primary_color;
    }

    ul {
      display: table;
      @include box-shadow(0 0 0 1px lighten($tone, 15%),
                          0 2em 3em  rgba($black_color, 0.2),
                          0 0 0 1px rgba($white_color, 0.12) inset);
    }
  }
}

// SORT + REFRESH
#sort,
#refresh {
  float: right;
  padding-top: 4px;

  .btn {
    font-size: 90%;
  }

  label {
    color: $g4;
    font-size: 100%;
  }
}

// SORTING
#sort {
  .trigger {
    padding-left: 23px;

    &.ascending:before,
    &.descending:before { // sorting icons
      content: "";
      width: 0;
      height: 0;
      position:absolute;
      left: 7px;
      top: 7px;
      @include opacity(0.5);
    }
  }

  .menu.active {
    .trigger {
      &.ascending:before,
      &.descending:before {
        border-color: $primary_color transparent;
        @include opacity(0.75);
      }
    }
  }

  li {
    // hovering buttons
    &:hover .name,
    .name:hover ~ a.ascending {
      @include linear_gradient($primary_color, lighten($primary_color, 9%), $primary_color, 70%);
      color: $white_color;
      @include text-shadow(1px 1px 1px rgba($black_color, 0.4));
    }

    &:first-child a.name {
      @include border-radius($border_radius 0 0 0);
    }

    &:last-child a.name {
      @include border-radius(0 0 0 $border_radius);
    }

    &:last-child a.descending {
      @include border-radius(0 0 $border_radius 0);
    }
  }

  // icons in the link
  a {
    i { // FF bug (we can't absolute position in table-cell)
      @include inline-block;
      position: relative;
      line-height: 1;
    }

    i:before { // position of arrows
      left: -5px;
      top: -4px;
    }

    &.name { // name
      padding-left: 10px;
      min-width: 8em;
    }
  }

  // arrows
  .ascending,
  .descending { // general rule
    i:before {
      content: "";
      width: 0;
      height: 0;
      position:absolute;
      @include opacity(0.3);
    }
  }

  .ascending { // ascending
    &.btn:before,
    i:before {
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-bottom: 0.7em solid $black_color;
    }
  }

  .descending { // descending
    &.btn:before,
    i:before {
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-top: 0.7em solid $black_color;
    }
  }

  a.ascending:hover i:before,
  a.name:hover ~ a.ascending i:before,
  a.descending:hover i:before { // hovers
    @include opacity(0.95);
    border-color: $white_color transparent;
  }
}

// REFRESHING
#refresh {
  .manual {
    width: 2.5em;
    margin: 0;
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
    @include text-shadow(none);

    &:before {
      content: '';
      width: 2.5em;
      height: 100%;
      @include background(image-url("icon_refresh_inactive.png") no-repeat 50% 1.10em);
      background-size: 10px 10px;
      position: absolute;
      top: 0;
      left: 0;
      @include opacity(0.7);
    }
  }

  .btn_group {
    @include clearfix;
  }
}
