.no_app_box {
  $bg_color: rgb(253, 253, 253);
  @include inline-block;
  font-size: 140%;
  font-weight: 300;
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  text-align: center;
  color: rgba($black_color, 0.3);
  @include border-radius(2px);
  @include box-shadow(0 1px 3px 0 rgba($black_color, 0.06) inset);
  border: 1px dashed darken($bg_color, 10%);
  background-color: $bg_color;

  &.empty {
    padding: 2em 0 2em 0;
  }
}

#content {
  .start {
    margin-bottom: 1.5em;

    h3 {
      font-size: 170%;
      color: $g4;
    }

    .graphics {
      text-align: center;
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}
