#content {
  // BOXES
  .box {
    padding: 10px;
    float: left;

    &.three {
      width: 33%;
    }

    &.two {
      width: 50%;
    }
  }

  // PROGRESS TRACKER
  ol.progress {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* remove default numbering */
    *list-style: decimal; /* keep using default numbering for ie6/7 */
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-top: 34px;

    li{
      text-align: center;
      display: table-cell;

      // dashed line between points
      &:not(:last-child) span:after, &:not(:last-child) a:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: -16px;
        left: 50%;
        border-top: 1px dotted $g4;
      }

      a, span {
        color: $g4;
        position: relative;
        display: block;
        &.current, &:hover:not(span) {
          color: $g6;

          &:before {
            background: $success_color;
          }
        }

        // numbered circles
        &:before{
          content: counter(li);
          counter-increment: li;
          font-family: $headlinefont;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          line-height: 2em;
          position: absolute;
          top: -30px;
          left: 50%;
          margin-left: -1em;
          z-index: 1;
          color: white;
          background: $g4;
          height: 2em;
          width: 2em;
          @include border-radius(2em);
        }
      }
    }
  }

  // when the right sidebar is missing
  #launch {
    padding-left: 31px;
    font-size: 120%;
    position: absolute;
    right: 15px;
    top: 15px;
    @include border-radius(2px);

    &:before {
      content: "\2b";
      font-size: 165%;
      display: block;
      position: absolute;
      top: 1px;
      left: 10px;
    }
  }
}
