*{ @include box-sizing(border-box); }

body,html{
  height: 100%;
  position: relative;
  min-width: 320px;
}

body {
  @include background(rgb(244, 244, 244) image-url("bg.png"));
}

html.no-js {}

.js_hide{display: none;}
.js_show{display: block;}

.js_toggle_trigger {
  cursor: pointer;
}

.spinner {
  background-image: image-url("alchemy/icons/spinner.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
