h1, h2, h3, h4, h5 {
  font-weight: 300;
  text-transform: none;
  padding: 0.5em 0;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 170%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 115%;
}

a:not(.button) {
  color: $link_color;
  text-decoration: underline;

  &:hover {
    color: darken($link_color, 10%);
    text-decoration: none;
  }
}

dl.properties {
  dt {
    font-weight: bold;
    &:after{ content: ":"; }
    float: left;
    margin-right: 0.5em;
    clear: left;
  }

  dd {
  }
}

.strong {
  font-weight: bold;
}
