$primary_color:                 rgb(60, 30, 0);
$primary_gradient_top_color:    lighten($primary_color, 2%);
$primary_gradient_bottom_color: darken($primary_color, 6%);
$btn_primary_color:             lighten($primary_color, 1%);
$headlinefont:                  "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
