/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass/reset";
@import "compass/layout/sticky-footer";

@import "vars";
@import "mixins";
@import "alchemy/composites/content_elements";
@import "fonts";
@import "text";
@import "forms";
@import "shared";
@import "nojs";

.flash_hud,
#wrapper {
  width: 95%;
  max-width: 1180px
}

#wrapper{
  position: relative;
  top: $window_top_position;
  background: $white_color;
  @include box-shadow(0 0 15px 0 rgba($g1, 0.5) inset,
                      0 4px 4px -4px $g2);
  @include border-radius($border_radius);
  @include container_border;
  margin: 0 auto;


/* === HEADER === */
  #header{
    line-height: 1;
    padding: 0.5em 2em;
    border-bottom: 2px solid $primary_color;

    .controls {
      padding: 1.5em 0;
      float: right;
      color: $g4;

      a {
        padding-left: 0.5em;
      }
    }

    h1 {
      padding: 0;
    }

    #logo {
      float: none;
    }
  }


/* === CONTENT === */
  #container {
    display: table;
    width: 100%;

    /* === MAIN CONTENT === */
    #content {
      display: table-cell;
      padding: 2em;

      section {
        padding: 3em 0 0 0;

        &:first-child {
          padding-top: 0;
        }
      }

      .success {
        color: $success_color;
      }

      #refresh_applications_list {
        text-align: right;
        margin-bottom: 2px;
        a {
          font-size: 90%;
          &.loading {
            text-decoration: none;
            &:before {
              content: "";
              width: 20px;
              height: 16px;
              @include inline-block;
              @include background(image-url("alchemy/icons/spinner.gif") no-repeat center center);
            }
          }
        }
      }

      // LAUNCHABLES AND APPLICATIONS LISTING
      .launchable, .provider_application {
        display: block;
        position: relative;
        list-style-type: none;
        @include box-shadow(-1px 1px 1px 0 rgba($g3, 0.2),
                            -1px 1px 1px 0px rgba($white_color, 0.3) inset);
        @include border-radius(2px);
        background: $background_color;
        border: 1px solid darken($background_color, 3%);
        padding: 0.75em;
        margin-bottom: 10px;

        h3 {
          margin: 0;
          padding: 0;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

/*
        p.description{
          &.truncated{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
*/

        ul.controls{
          float: right;
          margin: 0 0 0 1em;
          position: relative;

          .button {
            margin: 0;
          }

          li {
            @include inline-block;
            margin: 0 0 0 5px;

            &.cost {
              font-weight: bold;
            }
          }
        }
      }

      // JUST FOR LAUNCHABLE
      .launchable {
        ul.controls {
          li {
            .button, .btn {
              position: relative;
              top: -2px;
            }
          }
        }
      }

      // JUST PROVIDER APPLICATIONS
      .provider_application {
        padding: 0;

        .container {
          padding: 0.75em 0.75em 0.75em 2.75em;

          // buttons
          ul.controls {
            margin-top: 2px;

            .stop .button {
              width: 40px;
              height: 40px;
              border: 0 none;
              padding: 0;
              color: transparent;
              @include text-shadow(none);
              @include background(image-url("icon_stop_inactive.png") no-repeat 50% 50%);
              @include box-shadow(none);

              &:hover {
                @include background(image-url("icon_stop_active.png") no-repeat 50% 50%);
              }
            }
          }

          &:hover {
            ul.controls {
              @include opacity(1);
              right: 0;
            }
          }

          // information about ip
          .ip {
            font-size: 90%;
            display: inline;
            color: $g4;

            dd {
              display: inline;
            }
          }

          // link to show more properties
          .more {
            color: $g4;

            &:before {
              display: inline-block;
              content: ", ⇣";
              text-decoration: none;
              padding-right: 0.2em;
            }

            &.open:before{ content: ", ⇡"; }
          }
        }

        .properties {
          display: table;
          width: 100%;
          height: 2em;
          color: $g4;
          @include box-shadow(0 -1em 1.5em 0 rgba(white, 0.5) inset);
          border-top: 1px solid rgba($g2, 0.6);

          li {
            display: table-cell;
            vertical-align: middle;
            padding: 0 1em;
            border-left: 1px solid rgba($g2, 0.6);

            &:first-child {
              padding-left: 0.75em;
              border-left: 0 none;
            }

            .label {
              font-size: 90%;
              color: $g3;

              &:after {
                display: inline;
                content: ":";
              }
            }
          }
        }

        // STATES
        &.running {
          background-image: image-url("icon_running.png");
          background-repeat: no-repeat;
          background-position: 0.75em 1.75em;
        }
      }

      // BOXES
      .box {
        padding: 10px;
        float: left;

        &.three {
          width: 33%;
        }

        &.two {
          width: 50%;
        }
      }

      // PROGRESS TRACKER
      ol.progress {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* remove default numbering */
        *list-style: decimal; /* keep using default numbering for ie6/7 */
        display: table;
        width: 100%;
        table-layout: fixed;
        padding-top: 34px;

        li{
          position: relative;
          text-align: center;
          display: table-cell;

          // dashed line between points
          &:not(:last-child):after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            top: -16px;
            left: 50%;
            border-top: 1px dotted $g4;
          }

          a, span {
            color: $g4;
            position: relative;
            display: block;
            &.current, &:hover:not(span) {
              color: $g6;

              &:before {
                background: $success_color;
              }
            }

            // numbered circles
            &:before{
              content: counter(li);
              counter-increment: li;
              font-family: $headlinefont;
              font-weight: 600;
              font-size: 14px;
              text-align: center;
              line-height: 2em;
              position: absolute;
              top: -30px;
              left: 50%;
              margin-left: -1em;
              z-index: 1;
              color: white;
              background: $g4;
              height: 2em;
              width: 2em;
              @include border-radius(2em);
            }
          }
        }
      }
    }


    /* === SIDEBAR === */
    #sidebar{
      display: table-cell;
      padding: 1em;
      width: 250px;

      .container {
        @include box-shadow(-1px 1px 1px 0 rgba($g3, 0.2),
                            -1px 1px 1px 0px rgba($white_color, 0.3) inset);
        @include border-radius(2px);
        background: $background_color;
        border: 1px solid darken($background_color, 3%);
        padding: 1em;
      }

      section {
        &.launch {
          text-align: center;
          padding-bottom: 2em;
        }
      }

      .button, .btn {
        margin: 0;
      }
    }
  }


/* === FOOTER === */
  #footer{
    padding: 1.5em 2em;
    font-size: 10px;
    border-top: 1px solid rgba($g4, 0.2);
    color: $g4;

    .info {
      padding-right: 1.5em;
    }
  }
}


/* === GLOBAL === */
a {
  color: lighten($primary_color, 5%);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.strong {
  font-weight: bold;
}
