/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass/reset";
@import "compass/layout/sticky-footer";

@import "vars";
@import "mixins";
@import "alchemy/composites/content_elements";
@import "fonts";
@import "text";
@import "forms";
@import "shared";
@import "nojs";

.flash_hud,
#wrapper {
  width: 312px;
}

#wrapper{
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: $window_top_position;

  #container{
    background: white;
    @include box-shadow(0 0 15px 0 rgba($g1, 0.5) inset,
                        0 4px 4px -4px $g2);
    @include border-radius($border_radius);
    @include container_border;

    #header{
      @include header_style;
      line-height: 1;
      padding: 5px 15px;

      img {
        height: 45px;
      }
    }

    #content{
      padding: 0 0 15px 0;
      @include border-radius(0 0 $border_radius $border_radius);

      h2 {
        margin: 15px 0 5px 0;
        padding: 0;
        font-size: 150%;
      }
    }

    section {
      padding: 0 15px;

      &#provider_select form {
        .input {
          display: inline-block;
          width: auto;
          max-width: 215px;
        }

        .button {
          margin: 2px 5px 0 5px;
          max-width: 70px;
        }
      }
    }
  }
}

#provider_login {
  .buttons {
    .button {
      margin: 5px 0 0 0;
    }
  }
}
