%section
  %h2 Launch a New Application

  %ol.progress
    %li
      %span.current Select an Application Blueprint
    %li
      %span Configure and Deploy
    %li
      %span Use Your Application

%section
  - if @launchables.blank?
    %p This is where a list of application blueprints would be
  - else
    %ul.launchables
    - @launchables.each do |launchable|
      %li.launchable
        = render_provider_partial("launchable", {:launchable => launchable })
