%section
  %h2 Launch a New Application

  %ol.progress
    %li= link_to "Select an Application Blueprint", launchables_path, :class => 'current'
    %li
      %a Configure and Deploy
    %li
      %a Use Your Application

%section
  - if @launchables.blank?
    %p This is where a list of application blueprints would be
  - else
    %ul.launchables
    - @launchables.each do |launchable|
      %li.launchable
        = render_provider_partial("launchable", {:launchable => launchable })
