#heading Launch a New Application

#launch-steps{style: "text-align:center"}
  .step#step1{style: "width:32%;float:left"}
    1. Select an Application Blueprint
  .step#step2{style: "width:32%;float:left"}
    2. Configure and Deploy
  .step#step3{style: "width:33%;float:left"}
    3. Use Your Application


/ - present nil, "launchable" do |presenter|
/   = presenter.google

#applications
  - if @launchables.blank?
    %p This is where a list of application blueprints would be
  - else
    = render :partial => "launchables_list"
